#dodger {
  background-color: white;
  height: 40px;
  position: absolute;
  width: 40px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#game {
  background-color: #111;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 33%;
  float:left;
  position: relative;
  
}

#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

.rock {
  width: 20px;
  height: 20px;
  background: tan;
  position: absolute;
}

.rock:before {
  content: "";
  border-bottom: 6px solid tan;
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.rock:after {
  content: "";
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  border-top: 6px solid tan;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 9px;
}

.eyes{
  height: 5px;
  width: 7px;
  border-radius: 50%;
  background-color: white;
  display:inline-block;
}

.pupil{
  background-color: black;
  height: 2px;
  width: 2px;
  margin: auto;
  padding-top: 2px;

}

.button{
  background-color: grey;
  border-radius: 10px;
  font-size: 30px;
  color: limegreen;
}

#up{
    width: 25%;
    height: 100px;
    display: block;
    margin: auto;
}

#down{
  width: 25%;
  height: 100px;
  display: block;
  margin: auto;
}

#left{
  width: 100%;
  height: 100px;
  display: block;
  margin: auto;
  margin-top:150px;
}

#right{
  width: 100%;
  height: 100px;
  display: block;
  margin: auto;
  margin-top:150px;
}

.bottomDiv{
  display:block;
  width:100%;
}

.rightDiv{
  height:400px;
  width:33%;
  float:right;
  display:block;
}
.leftDiv{
  height:400px;
  width:33%;
  float:left;
  display: block;
}

.view{
  height:500px;
  width:100%;
  display:block;
}